<div style="position: fixed; left: 0; bottom: 0; width: 100%; background-color: black; color: white; text-align: center; padding-top: 1em; padding-bottom: 1em">
  <p class="text-center text-muted">&copy; Copyright 2022</p>
</div>
