<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body style="max-width: 100%">
    <header><%- include('../partials/header') %></header>
    <div class="card" style="width: 300px; margin: 200px auto; background: #505355; text-align: center">
      <div class="card-body" style="padding: 20px; color: #fff">Sorry, your payment was not successful</div>
      <button class="btn btn-primary" style="margin: 10px auto 40px; width: 50%" href="/">Try Again</button>
    </div>
  </body>
</html>
