<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body style="max-width: 100%">
    <header><%- include('../partials/header') %></header>

    <div class="card">
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <footer><%- include('../partials/footer') %></footer>
  </body>
</html>
